 {% load static %}
 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'interfaz/css/styleLogin.css' %}">
 </head>
 <body>
    <div class="loginDiv">
        <div><img src="{%static 'interfaz/imagenes/Inicio/LogoMuuviews.webp'%}" alt=""></div>
        <h2>Iniciar Sesion o Registrarse</h2>
            <form name="LoginUser" method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <p>Nombre de usuario o correo:</p>
                <input type="text" name="userName" placeholder="Ingrese nombre de usuario" required>
                <p>Contraseña:</p>
                <input type="password" name="passWord" placeholder="Ingrese contraseña" required>
                
                <!-- Mensajes de error -->
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <h4 style="color: red; font-size: 14px;">{{ message }}</h4>
                        {% endfor %}
                    </ul>
                {% endif %}
                <input type="submit" value="Iniciar Sesion">
                <a style="color: grey; margin-top: 20px;" href="{% url 'registro' %}">Crear nueva cuenta</a>
            </form>
    </div>
 </body>
 </html>
 
 